bottle==0.13.4
bottle-websocket==0.2.9
Eel==0.18.2
future==1.0.0
gevent==25.9.1
gevent-websocket==0.10.1
greenlet==3.2.4
importlib_resources==6.5.2
pillow==11.3.0
ply==3.11
pyparsing==3.3.2
pywebio==1.8.4
qrcode==8.2
tornado==6.5.4
typing_extensions==4.15.0
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
user-agents==2.2.0
zipp==3.23.0
zope.event==6.0
zope.interface==8.0.1
